.wp-video-capture-flash-container-popup {
  position: relative;
  background: #FFF;
  padding: 10px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}

.wp-video-capture-mobile div,
.wp-video-capture-mobile input,
.wp-video-capture-desktop,
.wp-video-capture-desktop div {
  display: none;
}

.wp-video-capture-progress-container {
  padding: 20px 0 20px 0;
}

.wp-video-capture-progress-container p {
  margin: 0;
}

.wp-video-capture-progress {
  border: 1px solid black;
  background: #aaaaaa;
  width: 100%;
  height: 40px;
}

.wp-video-capture-progress-text {
  color: #ffffff;
  text-align: center;
  margin-top: -33px;
  font-size: 22pt;
}

.wp-video-capture-record-button-desktop,
.wp-video-capture-record-button-mobile {
  background-image: url('../images/button_record.png');
  display: inline-block;
  width: 203px;
  height: 46px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wp-video-capture-ajax-success-store,
.wp-video-capture-ajax-success-upload,
.wp-video-capture-ajax-error-store,
.wp-video-capture-ajax-error-upload {
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.wp-video-capture-ajax-success-store,
.wp-video-capture-ajax-success-upload {
  background-color: #CEF6CE;
}

.wp-video-capture-ajax-error-store,
.wp-video-capture-ajax-error-upload {
  background-color: #F6D8CE;
}
